.tablet .divider,
.desktop .divider {
    display: none;
}

.tablet .modal,
.desktop .modal {
    width: 409px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px !important;
}

.tablet .header-container,
.desktop .header-container {
    margin-bottom: 16px;
}

.tablet .content,
.desktop .content {
    background-color: #F8F9FA;
}

.margin-bottom-l {
    margin-bottom: 16px !important;
}
.eye-image-style {
cursor: pointer;
right: 16px;
top: 40%;
}

.eye-image-style-error {
cursor: pointer;
right: 16px;
top: 30%;
}

.input-field {
    margin-bottom: 16px;
}

.input-field-error{
    margin-bottom: 8px;
}


.phone .header-container {
  margin: 0 16px;
}

.phone .content-container {
  margin: 0 16px;
}





