.tablet .divider,
.desktop .divider {
    display: none;
}

.tablet .password-container{
    width: 409px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px !important;
}


.tablet .header-container{
    margin-bottom: 16px;
}

.margin-bottom-l {
    margin-bottom: 16px !important;
}
.eye-image-style {
cursor: pointer;
right: 16px;
top: 40%;
}

.eye-image-style-error {
cursor: pointer;
right: 16px;
top: 30%;
}

.input-field {
    margin-bottom: 16px;
}

.input-field-error{
    margin-bottom: 8px;
}


.phone .header-container {
  margin: 0 16px;
}

.desktop .password-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F8F9FA;
}

.phone .password-container {
    margin: 0;
}


.deriv-25years-logo-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
}

.phone .deriv-25years-logo-container,
.tablet .deriv-25years-logo-container {
    display: none;
}

.desktop .main-container {
    display: flex;
    height: 100vh;
}

.desktop .main-content.ThemeGrid_Container {
    display: unset;
    align-items: unset;
    justify-content: unset;
}

 .desktop .ThemeGrid_Container{
    max-width: unset ;
    padding-left: 0;
    padding-right: o;
 }

 .desktop header,
 .tablet header {
     display: none;
 }

.desktop .password-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
}

.desktop .password-title {
    font-size: 28px !important;
}

.content-container
 {
    display: flex;
}

.phone .content-container {
    display: block;
}

.desktop .back-arrow-container {
    margin-top: 10px;
}

.tablet .back-arrow-container {
    margin-top: 5px; 
}

.phone .back-arrow-container {
    display: none;
}

.desktop .back-arrow-mobile,
.tablet .back-arrow-mobile {
    display: none;
}

