.login-screen {
  left:0;
  position:absolute;
  top:0;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  background: #fff;
}

.header-container {
    display: flex;
width: 1200px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}