.phone .referral-links-reports {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desktop .referral-links-reports {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.phone .referral-links-reports__button {
    align-items: center;
    background: var(--Brand-Primary-Base, #FF444F);
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    width: 100% !important;
    margin-left: 0;
}