.text_input_style {
  display: flex;
height: 56px;
padding: 0px 24px;
align-items: center;
gap: 12px;
align-self: stretch;
border-radius: 24px;
border: 1px solid var(--opacity-black-100, rgba(0, 0, 0, 0.08));

}

.login-screen {
  left:0;
  position:absolute;
  top:0;
  height:100%;
  width:100%;
}

.signup {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.10);
border-radius: 8px;
gap: 24px;
max-width: 380px;
padding: 24px;
text-align: left;
margin-left: 0;
z-index: 2;
}

.social-btn {
    cursor: pointer;
    transition: background-color 0.16s;
}

.social-btn:hover {
    background-color: var(--color-neutral-2);
}

div[data-block="ButtonVariants.PrimaryButton"] {
    width: 100% !important;
}

