
@media (max-width: 1280px) {
    .real-account-signup-sidebar{
    display: none;
}
}

.real-account-signup-layout .wizard-item-icon {
    width: 16px !important;
    height: 16px !important;
}

.real-account-signup-layout .wizard-wrapper-item.active .wizard-item-icon {
    border-width: 2px !important;
}

.real-account-signup-layout__content {
    width: 100% !important;
    display:flex;
    justify-content: center;
}

.desktop .real-account-signup-layout__main-content {
    padding: 48px 24px 24px 24px;
    overflow: auto;
    max-height: 100vh;
}

.real-account-signup-layout__main-content {
    width: 100%;
    display:flex;
    justify-content: center;
}

.phone .real-account-signup-layout__main-content {
    width: 100%;
}

/* .desktop .real-account-signup-progressbar{
    display:none;
} */

@media (min-width: 1280px) {
   .real-account-signup-progressbar{
    display:none;
}
}