.osui-progress-bar__value:before {
    width: 40% !important;
}


.flatpickr-calendar.open {
    width: 295px;
}

[data-label].mandatory:after {
    content: none;
}

.phone .identity-verification-list__desktop {
    display: none;
}

.tablet .identity-verification-list__mobile,
.desktop .identity-verification-list__mobile {
    display: none;
}